{{ define "title" }}{{.Title}} | {{.Site.Title}}{{ end }}

{{ define "description" }}{{ .Summary }}{{ end }}

{{ define "main" }}
<article>
  {{ partial "article-header.html" . }}
  {{ .RawContent | safeHTML }}


<div id="maitreya-include-footer">
<p>Lue lisää <a title="Maitreyan kohtaamiset" href="/maitreya/kohtaamisia/">Kristuksen kohtaamisista</a> ja pohdi miten sinä Hänet tunnistaisit&#8230;<br />
Lue taustoitusartikkeli &#8221;<a title="30 vuotta työtä Maitreyan julkitulon puolesta, 1982-2012" href="/uutiset/30-vuotta-tyota-maitreyan-julkitulon-puolesta-1982-2012/">30 vuotta työtä Maitreyan julkitulon puolesta, 1982-2012</a>&#8221;<br />
Lue laaja taustoitusartikkeli: <a title="Esoteerinen tieto: Ihmisen henkinen historia" href="/lisatietoa/esoteerinen-tieto-ihmisen-henkinen-historia/">Ihmisen henkinen historia</a> ja ymmärrät paremmin tämän artikkelin kertoman<br />
Lue kooste siitä miten <a title="Maitreya televisiossa 2010–nykyhetki" href="/maitreya/maitreya-televisiossa/">Kristuksen julkisuuteen tulo on televisiossa edennyt</a><br />
Lue myös vanhempi artikkeli <a title="Maitreya ja Jeesus Kristus" href="/maitreya/maitreya-ja-jeesus-kristus">Jeesus Kristus</a><br />
Lue lisää <a title="Ihmeet ja merkit" href="/ihmeet-ja-merkit">Ihmeistä ja merkeistä maailmassa</a></p></div>


<div id="global-include-footer-extra">
{{ partial "global-include-footer-extra.html" . }}
</div>
</article>

{{ end }}