/*
	BASICS
*/
h1, h2,h3,h4{
	margin-bottom:15px !important;margin-top:35px !important;
}
h1 {
	font-size: 1.7em;
	line-height: 1.2;
}

/*
	MENU
*/


li.active a {
	text-decoration:underline;
}

li.active a:hover {
	color:inherit;
}


/*
	TEKSTIN NOSTOT
*/

.alustus{
	margin: 25px 5%;
	padding-left: 2%;
	border-left: 5px solid #eee;
}


.masterarticle{
	width:95%; width:51vw;border:1.5px;border-color:#eeeeee;border-style:dashed;padding:15px;margin-bottom:35px;background-color:#fafafa;
}
a.masterarticle:link{
	color:#fff;text-decoration:underline;
}
a.masterarticle:hover{
	color:red;text-decoration:none;
}
.mastersource{
	font-style:italic;
}

/*
	KUVAT
*/

img {
border: 1px solid;
	border-color: #bbb #999;
	box-shadow:
		0 2px 5px hsla(0,0%,0%,.4),

		inset 0 1px 0 #ccc,
		inset 1px 0 0 #aaa,
		inset 0 -1px 0 #ccc,
		inset -1px 0 0 #aaa,

		inset 0 2px 0 #c6c6c6,
		inset 2px 0 0 #a6a6a6,
		inset 0 -2px 0 #c6c6c6,
		inset -2px 0 0 #a6a6a6,

		inset 0 3px 0 #c0c0c0,
		inset 3px 0 0 #a0a0a0,
		inset 0 -3px 0 #c0c0c0,
		inset -3px 0 0 #a0a0a0,

		inset 0 4px 0 #b9b9b9,
		inset 4px 0 0 #999,
		inset 0 -4px 0 #b9b9b9,
		inset -4px 0 0 #999,

		inset 0 5px 0 #b6b6b6,
		inset 5px 0 0 #969696,
		inset 0 -5px 0 #b6b6b6,
		inset -5px 0 0 #969696,

		inset 0 6px 0 #b0b0b0,
		inset 6px 0 0 #909090,
		inset 0 -6px 0 #b0b0b0,
		inset -6px 0 0 #909090,

		inset 0 7px 0 #a9a9a9,
		inset 7px 0 0 #898989,
		inset 0 -7px 0 #a9a9a9,
		inset -7px 0 0 #898989,

		inset 0 8px 0 #a6a6a6,
		inset 8px 0 0 #868686,
		inset 0 -8px 0 #a6a6a6,
		inset -8px 0 0 #868686,

		inset 0 9px 0 #a0a0a0,
		inset 9px 0 0 #808080,
		inset 0 -9px 0 #a0a0a0,
		inset -9px 0 0 #808080,

		inset 0 10px 0 #888,
		inset 10px 0 0 #666,
		inset 0 -10px 0 #888,
		inset -10px 0 0 #666,

		inset 0 0 10px 10px hsla(0,0%,0%,.5);
}
.pc25 {
	max-width:25%;
}

.pc35 {
	max-width:35%;
}


.pc45 {
	max-width:45%;
}

.pc55 {
	max-width:55%;
}



.alignright {
	float:right;
	margin: 12px 0 12px 12px;
	display:inline-block;
}

.alignleft {
	float:left;
	margin: 12px 12px 12px 0;

}

.aligncenter {
	float:none;
	margin: 12px auto;
	display:inline-block;
}

.alignright p, .alignleft p, .aligncenter p {

	font-size: small;
	word-wrap: break-word;
}