/*
https://cdn.rawgit.com/fiatjaf/classless/4666d30d/themes/creative-portfolio/theme.css
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.55;
  color: #000000;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/*
	BASICS
*/
h1, h2,h3,h4{
	margin-bottom:15px; margin-top:35px;
}
h1 {
	font-size: 1.7em;
	line-height: 1.2;
}


h1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 700;
}

strong, b {
  font-weight: 900;
}

a {
  color: #ef5285;
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:focus {
  color: #e01557;;
  text-decoration: underline;
}

a,
button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

blockquote {
  padding: 12px 24px;
  margin: 55px 0 24px;
  font-size: 16px;
  border-left: 5px solid #ef5285;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    'header main'
    'aside main'
    'nav main'
    'footer main';
  align-content: start;
}

body > header { grid-area: header; }
body > nav { grid-area: nav; }
body > aside { grid-area: aside; }
body > footer { grid-area: footer; }
body > main { grid-area: main; }

article header aside {
  padding: 0 20px 15px;
}
  article header aside time {
    color: #999;
  }
  article header aside ul {
    list-style: none;
    display: inline;
  }
    article header aside li {
      display: inline;
    }
      article header aside li a {
        margin: 0 2px;
        padding: 4px 6px;
        text-decoration: none;
        color: #000;
        border: none;
        font-size: 10px;
        opacity: 0.8;
        text-transform: uppercase;
      }

body > header {
  padding: 40px 35px 20px;
}
  body > header h1 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
    body > header a {
      color: #000;
    }
      body > header a:hover {
        text-decoration: none;
        color: #000;
        border-bottom: dotted 1px #ef5285;
      }
  body > header > img,
  body > header > a,
  body > header > a > img {
    width: 100%;
  }

body > nav a,
body > aside a,
body > footer a {
  color: #555555;
  text-decoration: none;
}
  body > nav a:hover,
  body > aside a:hover,
  body > footer a:hover {
    color: #ef5285;
  }

body > nav {
  padding: 0 35px;
}
  body > nav ul {
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 40px;
    font-size: 16px;
  }
    body > nav li {
      margin-bottom: 5px;
    }
      body > nav li::before {
        content: '>';
        margin: 0 5px 0 -15px;
        color: #999;
      }
        body > nav li:hover::before {
          color: #ef5285;
        }
      body > nav li a {
        text-decoration: none;
      }
        body > nav li a:hover {
          text-decoration: none;
        }

body > main {
  min-height: 100vh;
  height: 100%;
  width:99%;
}
  main > section {
//    height: 83vh;
    min-height: 500px;
    padding: 40px 25px 0;
  }
    main > section > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;

    }
      main > section > ul > li {
        background: #fff;
        margin-bottom: 30px;
        width: 20vw;
        margin: 12px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        box-shadow: 0 0 5px #ccc;
        height: 270px;
        overflow: hidden;
      }



      main > section > ul.aihelistaus > li, main > section > ul.avainsanalistaus > li {
        height: inherit;
        max-height: 270px;
      }



        main > section > ul > li:hover {
          box-shadow: 0 0 5px #999;
        }
        main > section > ul > li header {}
          main > section > ul > li header a img {
            width: 20%;
            display: inline-block;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
          }
            main > section > ul > li header img:hover {
              opacity: 0.4;
            }
          main > section > ul > li header h1 {
            padding: 5px 10px;
            font-size: small;
            line-height: 1.2;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin: 0;
          }
          main > section > ul > li header aside time {
            padding: 0;
            color: #777;
            text-align:right;
            font-size: small;
            line-height: 1.2;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin: 0 10px;
          }
          main > section > ul > li header a {
            color: #000;
            border-bottom: solid 1px transparent;
            text-decoration: none;
          }
            main > section > ul > li header a:hover {
              border-bottom: dotted 1px #ef5285;
              color: #000;
              text-decoration: none;
            }
        main > section > ul > li div {
          padding: 0 10px 11px 10px;
          color: #999;
          font-size: small;
          max-height: 140px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

  main > footer {}
    main > footer nav {}
      main > footer nav ul {
        list-style: none;
        margin: 20px 0;
        text-align: center;
        font-size: 26px;
      }
        main > footer nav li {
          display: inline;
        }
        main > footer nav a {
          display: none;
          color: #000;
        }
        main > footer nav a[href] { display: inline; }
        main > footer nav a:hover {
          text-decoration: none;
        }

  main > article {
    background: white;
    color: #777;
    padding: 40px 55px 20px;
    min-height: 50vh;
//    height: 100%;
  }
    main > article header {
      width: 87.7%;
    }
      main > article header h1 {
        font-size: 48px;
        margin-top: 20px;
      }
      main > article header h1 a {
        color: inherit;
      }
    main > article > div {
      width: 87.7%;
    }
      main > article img {
        max-width: 100%;
        margin: auto;
      }
      main > article h1,
      main > article h2,
      main > article h3 {
        font-size: 38px;
        margin: 36px 0 12px 0;
        color: #333;
      }
      main > article h1 { font-size: 38px; }
      main > article h2 { font-size: 30px; }
      main > article h3 { font-size: 22px; }

      main > article ul {
        list-style: none;
      }
        main > article > div ul li::before {
          content: '>';
          margin: 0 5px 0 -15px;
          color: #ef5285;
        }
          main > article > div ul li a {
            text-decoration: none;
          }

body > aside {
  padding: 0 35px;
  color: #999;
}

body > footer {
  padding: 0 35px 10px;
  margin-top: 20px;
  color: #999;
  align-self: end;
}






















*/

/*

	DEBUG



a::after {
    content: " (" attr(href) ")";
}
*/
/*

	DEBUG ENDS

*/





/*
	MENU
*/


li.active a {
	text-decoration:underline;
}

 li.active a:hover {
	color:inherit;
}

li.level-1 ul.level-2 {
	display:none;
}

li.level-1.active ul.level-2, li.level-1.parent ul.level-2 {
	display:block;
}

li.level-1.active ul li a, li.level-2.active ul li a, li.level-3.active ul li a {
	text-decoration:none;
}


.masterarticle article ul.level-1 {

}

footer li#previous a,footer li#next a {
	color:#ef5285;
	font-size:medium;
}
/*
	TEKSTIN NOSTOT
*/


p.takaisinylos a {
	font-style:italic;
	display: block;
	font-size: medium;
	margin: 38px 8%;
	padding-left: 2%;
	color: inherit;
}

.qna p {
	margin-left:7px;
}

p.qna-q {
	margin-top:45px;
	margin-left:0;
	font-style:italic;
}

.alustus{
	margin: 25px 5%;
	padding-left: 2%;
	border-left: 5px solid #eee;
}

.nosto{
	font-style:italic;
	display: block;
	padding: 24px;
	font-size: medium;
	margin: 25px 5%;
	padding-left: 2%;
	border-left: 5px solid #eee;
}

.footer-copyright {
	display: block;
	padding: 12px 24px;
	margin: 75px 0 24px;
	font-size: 16px;
}

.footer-copyright:after {
	content: 'Mainitsethan ystävällisesti aina lähteenä "share.fi", kun lainaat materiaalia tältä sivustolta.';
	display: block;
	padding: 12px;
	font-size: 13px;
}
.masterarticle{
	border:1.5px;border-color:#eeeeee;border-style:dashed;padding:15px;margin-bottom:35px;background-color:#fafafa;
}

.masterarticle h1 {
	font-size: xx-large;
}

.masterarticle h3 {
	font-size: large;
	margin: 35px 0 !important;
}

.mastersource{
	font-style:italic;
	display: block;
	padding: 24px;
	font-size: small;
}


.related-item {
	border: 3px #fdfdfd solid;
	background-color: #f1f1f1;
	padding:12px;
}

.related-item p {
	margin: 2px 5%;
	padding: -10px;
}

.related-item-link {

}

#maitreya-include-footer,#master-include-footer, #masterarticles-include-footer {
	display: block;
	padding: 12px 24px;
	margin: 75px 0 24px;
	font-size: 16px;
	border-left: 5px solid #ef5285;
}


#global-include-footer-extra {
	display: block;
	padding: 24px;
	margin-top:75px;
	font-size: medium;
	color: #black;
	background-color:#fafafa;

	display:none;
}

.nosto-etusivulle-alue {
	display: none;
}
.etusivu .nosto-etusivulle-alue {
	display: block;
	margin: 75px 0;
	font-size: medium;
}

.nosto-etusivulle-yksilo {

}

.etusivulle-otsikko {

}

.etusivulle-teksti {

}

.etusivulle-linkki {

}

.etusivulle-kuva {
	max-width: 140px;
	float:right;
	margin: 12px 10px 12px 12px;
	display:inline-block;
}









/*
	LINKS
	https://css-tricks.com/snippets/jquery/target-only-external-links/
*/

/* target all anchors with an href attribute */
a[href] {
	display: inline-block;
}

/* do something special to indicate an external link */
a[href]:after {
	content: " ⚮";
	color: #555;
}

/* target what you consider to be "internal" links and undo styles */
a[href*="share.fi"],
a[href*="localhost"],
a[href*="sirv.com"],
a[href*="share-fi-2018.firebaseapp.com"],
a[href*="gallant-ardinghelli-620fc5.netlify.com"],
a[href^="/"],
a[href^="#"],
a[href^="mailto:"],
a[href^="javascript:"] {
	display: inline;
}

/* undo */
a[href*="share.fi"]:after ,
a[href*="sirv.com"]:after,
a[href*="localhost"]:after,
a[href*="share-fi-2018.firebaseapp.com"]:after,
a[href*="gallant-ardinghelli-620fc5.netlify.com"]:after,
a[href^="/"]:after,
a[href^="#"]:after,
a[href^="mailto:"]:after,
a[href^="javascript:"]:after {
	content: none;
}

/*
	KUVAT
*/

img {
border: 1px solid;
	border-color: #bbb #999;
	box-shadow:
		0 2px 5px hsla(0,0%,0%,.4),

		inset 0 1px 0 #ccc,
		inset 1px 0 0 #aaa,
		inset 0 -1px 0 #ccc,
		inset -1px 0 0 #aaa,

		inset 0 2px 0 #c6c6c6,
		inset 2px 0 0 #a6a6a6,
		inset 0 -2px 0 #c6c6c6,
		inset -2px 0 0 #a6a6a6,

		inset 0 3px 0 #c0c0c0,
		inset 3px 0 0 #a0a0a0,
		inset 0 -3px 0 #c0c0c0,
		inset -3px 0 0 #a0a0a0,

		inset 0 4px 0 #b9b9b9,
		inset 4px 0 0 #999,
		inset 0 -4px 0 #b9b9b9,
		inset -4px 0 0 #999,

		inset 0 5px 0 #b6b6b6,
		inset 5px 0 0 #969696,
		inset 0 -5px 0 #b6b6b6,
		inset -5px 0 0 #969696,

		inset 0 6px 0 #b0b0b0,
		inset 6px 0 0 #909090,
		inset 0 -6px 0 #b0b0b0,
		inset -6px 0 0 #909090,

		inset 0 7px 0 #a9a9a9,
		inset 7px 0 0 #898989,
		inset 0 -7px 0 #a9a9a9,
		inset -7px 0 0 #898989,

		inset 0 8px 0 #a6a6a6,
		inset 8px 0 0 #868686,
		inset 0 -8px 0 #a6a6a6,
		inset -8px 0 0 #868686,

		inset 0 9px 0 #a0a0a0,
		inset 9px 0 0 #808080,
		inset 0 -9px 0 #a0a0a0,
		inset -9px 0 0 #808080,

		inset 0 10px 0 #888,
		inset 10px 0 0 #666,
		inset 0 -10px 0 #888,
		inset -10px 0 0 #666,

		inset 0 0 10px 10px hsla(0,0%,0%,.5);
}
.pc25 {
	max-width:25%;
}

.pc35 {
	max-width:35%;
}


.pc45 {
	max-width:45%;
}

.pc55 {
	max-width:55%;
}

.pc65 {
	max-width:65%;
}

.pc75 {
	max-width:75%;
}


.alignright {
	float:right;
	margin: 12px 0 12px 12px;
	display:inline-block;
}

.alignleft {
	float:left;
	margin: 12px 12px 12px 0;

}

.aligncenter {
	float:none;
	margin: 12px auto;
	display:inline-block;
}

.alignright p, .alignleft p, .aligncenter p {

	font-size: small;
	word-wrap: break-word;
}

.maitreyan-kasi {
	width:250px;
}

p.luentovideo {
	width: 8rem;
	max-width: 640px;
}

.bottom-address { margin-left: 10px; margin-right: 25%; font-weight: bolder; font-size: larger; }


/* Generated by http://css.spritegen.com CSS Sprite Generator */

.sprite-etusivu-transmission-isokansi, .sprite-etusivu-benjamin-creme-1922-2016, .sprite-etusivu-flaming-diamond, .sprite-etusivu-cross5, .sprite-etusivu-mandela2,
.sprite-etusivu-mess-cover, .sprite-etusivu-faces-globe, .sprite-etusivu-mait-stat
{ display: inline-block; background: url('https://sharefi-cdn.sirv.com/sharefi/sprite-etusivu-share.fi.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.sprite-etusivu-transmission-isokansi { background-position: -3px -0px; width: 750px; height: 780px; zoom: .5;}
.sprite-etusivu-benjamin-creme-1922-2016 { background-position: -3px -780px; width: 380px; height: 305px; }
.sprite-etusivu-flaming-diamond { background-position: -3px -1088px; width: 323px; height: 297px; }
.sprite-etusivu-cross5 { background-position: -3px -1388px; width: 213px; height: 180px; }
.sprite-etusivu-mandela2 { background-position: -219px -1388px; width: 200px; height: 219px; }
.sprite-etusivu-mess-cover { background-position: -3px -1571px; width: 200px; height: 305px; }
.sprite-etusivu-faces-globe { background-position: -206px -1610px; width: 184px; height: 214px; }
.sprite-etusivu-mait-stat { background-position: -329px -1088px; width: 148px; height: 260px; }




/* responsiveness */
@media only screen and (max-width: 760px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'aside'
      'footer'
  }

  body > main,
  body > aside,
  body > footer,
  main > section {
    height: auto;
    width: 100%;
  }

  main > section > ul {
    display: block;
    height: auto;
    width: 100%;
  }

  main > section > ul > li {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }


  main > article {
    width: 100%;
    padding: 20px 8px 10px;

  }

.sprite-etusivu-transmission-isokansi { background-position: -3px -0px; width: 750px; height: 780px; zoom: .25;}
.sprite-etusivu-benjamin-creme-1922-2016 { background-position: -3px -780px; width: 380px; height: 305px; zoom: .5; }
.sprite-etusivu-flaming-diamond { background-position: -3px -1088px; width: 323px; height: 297px;  zoom: .5;}
.sprite-etusivu-cross5 { background-position: -3px -1388px; width: 213px; height: 180px;  zoom: .5;}
.sprite-etusivu-mandela2 { background-position: -219px -1388px; width: 200px; height: 219px;  zoom: .5;}
.sprite-etusivu-mess-cover { background-position: -3px -1571px; width: 200px; height: 305px;  zoom: .6;}
.sprite-etusivu-faces-globe { background-position: -206px -1610px; width: 184px; height: 214px;  zoom: .7;}
.sprite-etusivu-mait-stat { background-position: -329px -1088px; width: 148px; height: 260px;  zoom: .7;}

.bottom-address { margin-left: 5%; margin-right: 5%; font-weight: bolder; font-size: larger; }

}




/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {


}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {


}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {


}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {


}