
{{ define "title" }}{{.Title}} | {{.Site.Title}}{{ end }}

{{ define "description" }}{{ .Summary }}{{ end }}

{{ define "main" }}

<!-- JSON-LD markup for Structured Data BEGINS-->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "{{.Title}}",
  "headline" : "{{- .Title | replaceRE ":.+" "" -}}",
  "author" : {
    "@type" : "Organization",
    "name" : "Share.fi"
  },
  "datePublished" : "{{- .Date.Format "2006-01-02" -}}",
  "backstory" : [ "'Merkit Maitreyan läsnäolosta maailmassa lisääntyvät'Tämä erään Maitreyan läheisimmän avustajan sitaatti oli kirjoitettuna Share Internationalissa v. 1988. Hän sanoi myös, että maailma tulee tulvimaan Maitreyan aikaansaamia tapahtumia, joita ihmismieli ei voi ymmärtää.Benjamin Creme: Merkkejä on olemassa niitä varten, jotka tarvitsevat niitä vahvistuakseen uskossaan ja antaakseen meille tarvittavaa rohkeutta ja vakaumusta päästäksemme eroon itseriittoisuuden tunteesta, ja jotta voisimme yhdessä ryhtyä suorittamaan niitä lukemattomia tehtäviä, jotka tarvitaan maailman pelastamiseen." ],
  "articleBody" : "{{.Plain}}",
  "speakable": [ "#article-headline", "#article-body"],
  "relatedLink" : "https://www.share.fi/ihmeet-ja-merkit/",
  "url": "{{ .Permalink }}"

}
</script>
<!-- JSON-LD markup for Structured Data ENDS-->


<article>


	<div class='masterarticle'>
	<p><em>Ihmeet ja merkit -artikkeli: {{.Title }}</em></p>
	<h1 id="article-headline">{{- .Title | replaceRE ".+:" "" | replaceRE "_" "" -}}</h1>
	<h3>- Ihmeitä maailmalta</h3>

	<div id="article-body">{{ .Content | safeHTML }}</div>



	<div class="nosto">
	<p>”Merkit Maitreyan läsnäolosta maailmassa lisääntyvät”

Tämä erään Maitreyan läheisimmän avustajan sitaatti oli kirjoitettuna Share Internationalissa v. 1988. Hän sanoi myös, että maailma tulee tulvimaan Maitreyan aikaansaamia tapahtumia, joita ihmismieli ei voi ymmärtää.<br /><br />Benjamin Creme: Merkkejä on olemassa heitä varten, jotka tarvitsevat niitä vahvistuakseen uskossaan ja antaakseen meille tarvittavaa rohkeutta ja vakaumusta päästäksemme eroon itseriittoisuuden tunteesta, ja jotta voisimme yhdessä ryhtyä suorittamaan niitä lukemattomia tehtäviä, jotka tarvitaan maailman pelastamiseen.
Lähde: Share International, 7-8/1988</p>
	<hr style="margin: 20px 20%;" />
	</div>
	</div> <!-- ends class masterarticle -->

	<div class="masterarticle-menu">
  <nav id="masterarticle-nav">
    <ul class="root">	
	{{ partial "menu.html" (dict "menu" "ihmeetmerkit" "current" . "level" 1 "pages" .Site.Menus.ihmeetmerkit) }}

    </ul>
</nav><!-- #masterarticle-nav -->
	</div>





<div id="masterarticles-include-footer">
<h3>Lisäaiheita</h3>
<p><a title="Muita ihmeitä ja merkkejä" href="/ihmeet-ja-merkit/" target="_blank">Muita ihmeitä ja merkkejä</a></p>
<p><a title="Mestareiden Mestari on Maailmanopettaja" href="/maitreya" target="_blank">Kuka on Mestareiden Mestari, eli Maailmanopettaja Maitreya?</a></p>
<p><a title="Lisätietoa aiheistamme" href="/lisatietoa/" target="_blank">Lisätietoa aiheistamme</a></p>
<p><a title="Mestarin sanoin -artikkeliarkisto" href="/mestarin-sanoin/" target="_blank">Mestarin sanoin -artikkeliarkisto</a></p>



</div>


<div id="global-include-footer-extra">
{{ partial "global-include-footer-extra.html" . }}
</div>
</article>

{{ end }}