{{ define "title" }}{{.Title}} | {{.Site.Title}}{{ end }}

{{ define "description" }}{{.Title}} on {{.Site.Title}}{{ end }}

{{ define "main" }}

  {{ if .Content | safeHTML }}
  <article>
    {{ partial "article-header.html" . }}
    {{ .Content | safeHTML }}
  </article>
  {{ end }}
  <section>
  <p>Listaus artikkeleista tästä aihepiiristä</p>
  <ul>
    {{ range (.Paginator 12).Pages }}
    <li>
        {{ partial "article-header.html" . }}
        {{ if $.Site.Params.show_summaries}}
        <div class="list-summary">{{ .Summary }}</div>
        {{ end }}
    </li>
    {{ end }}
  </ul>
</section>

<footer>
  <nav>
    <ul>
      <li id="previous"><a {{ if .Paginator.HasPrev }}href="{{ .Paginator.Prev.URL }}"{{ end }}>edelliset</a></li>
      <li id="next"><a {{ if .Paginator.HasNext }}href="{{ .Paginator.Next.URL }}"{{ end }}>seuraavat</a></li>
    </ul>
  </nav>
</footer>
{{ end }}
