{{ define "title" }}{{.Title}} | {{.Site.Title}}{{ end }}

{{ define "description" }}{{.Summary}}{{ end }}

{{ define "main" }}

<!-- JSON-LD markup for Structured Data BEGINS-->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "{{.Title}}",
  "headline" : "{{- .Title | replaceRE ":.+" "" -}}",
  "author" : {
    "@type" : "Organization",
    "name" : "share.fi"
  },
  "datePublished" : "{{- .Date.Format "2006-01-02" -}}",
  "backstory" : [ " Maitreya on Henkisen Hierarkian johdossa olevan Maailmanopettajan henkilökohtainen nimi. Maitreya tunnetaan myös Kristuksen, Buddhan, Krishnan, Imam Mahdin tai Messiaan nimillä. Maitreya on aloittanut tammikuussa 2010 tv-esiintymisten sarjan, joka tulee johtamaan julkitulon päivään, jolloin Hän julkistaa todellisen henkilöytensä." ],
  "articleBody" : "{{.Plain}}",
  "speakable": [ "#article-headline", "#article-body"],
  "relatedLink" : "https://www.share.fi/",
  "url": "{{ .Permalink }}"

}
</script>
<!-- JSON-LD markup for Structured Data ENDS-->


	<h1 id="article-headline">{{- .Title | replaceRE ".+:" "" -}}</h1>


	<div id="article-body">  <div>{{ .RawContent | safeHTML }}</div></div>



</article>

{{ end }}