
{{ define "title" }}{{.Title}} | {{.Site.Title}}{{ end }}

{{ define "description" }}{{ .Summary }}{{ end }}

{{ define "main" }}

<article>


	<div class='masterarticle'>
	<p><em>Mestarin sanoin -artikkelien vuosiarkistosivu</em></p>
	<h1 id="article-headline">{{- .Title | replaceRE ".+:" "" -}}</h1>


	<div id="article-body">
	<p>Suomennetut artikkelit ovat pääsääntöisesti 2003 tai myöhemmin ilmestyneitä. Englanninkielisiä Mestarin artikkeleita voi lukea kirjasta ”A Master Speaks” aina vuodesta 1982 alkaen, eli siitä saakka, kun niitä on annettu.</p>
	<p>Klikkaathan alta haluamasi artikkelin kohdalta. Koko vuosi -linkki vie kunkin vuoden listaukseen, josta yksittäiset artikkelit löytyvät.</p></div>



	</div> <!-- ends class masterarticle -->

	<div class="masterarticle-menu">
  <nav id="masterarticle-nav">
    <ul class="root">
	{{ partial "menu.html" (dict "menu" "masterarticle" "current" . "level" 1 "pages" .Site.Menus.masterarticle) }}

    </ul>
</nav><!-- #masterarticle-nav -->


	<div class="nosto">
	<p>Tämä artikkelisarja ilmestyy 10 kertaa vuodessa ja se avaa ihmisen suhdetta häntä ympäröivään. Mestari, on yksi Henkisen Hierarkian Mestareista. Hänen nimensä on laajalti tunnettu esoteerisissa piireissä, mutta sitä ei monistakaan syistä anneta vielä julkisuuteen. Maitreya on Henkisen Hierarkian johdossa olevan Maailmanopettajan henkilökohtainen nimi. Maitreya tunnetaan myös Kristuksen, Buddhan, Krishnan, Imam Mahdin tai Messiaan nimillä. Maitreya on aloittanut tammikuussa 2010 tv-esiintymisten sarjan, joka tulee johtamaan julkitulon päivään, jolloin Hän julkistaa todellisen henkilöytensä.</p>

	<p>Share International -lehden synnystä alkaen Benjamin Cremen Mestari on antanut artikkelinsa julkaistavaksi tuoreeltaan ja käytettäväksi silloin kun maailman tapahtumat sitä edellyttävät. Monet näistä artikkeleista tuntuvat todellakin jopa vielä ajankohtaisemmilta tänä päivänä kuin niiden ensijulkaisun yhteydessä.</p>
	<hr style="margin: 20px 20%;" />

</div>



	</div>








</article>

{{ end }}