

<!-- menu.html -->
{{ $menuName := .menu }}
{{ $currentPage := .current }}
{{ $currentLevel := .level }}
<ul class="level-{{ $currentLevel }}">
  {{ range .pages }}
    <li class="level-{{ $currentLevel }} {{ if $currentPage.IsMenuCurrent $menuName . }}active{{ end }} {{ if $currentPage.HasMenuCurrent $menuName . }}parent{{ end }}">
      {{ if .HasChildren }}
        {{ .Pre }}

          <a href="{{ .URL }}">{{ .Name | replaceRE "_" "" }}</a>

        {{ partial "menu.html" (dict "menu" $menuName "current" $currentPage "level" (add $currentLevel 1) "pages" .Children) }}
      {{else}}
        <a href="{{.URL}}">{{ .Pre }}{{ .Name  | replaceRE "_" ""}}</a>
      {{end}}
    </li>
  {{end}}
</ul>

