
{{ define "title" }}{{.Title}} | {{.Site.Title}}{{ end }}

{{ define "description" }}{{ .Summary }}{{ end }}

{{ define "main" }}

<!-- JSON-LD markup for Structured Data BEGINS-->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "{{.Title}}",
  "headline" : "{{.Title | replaceRE "K & V" "Kysymyksiä ja vastauksia" -}}",
  "author" : {
    "@type" : "Person",
    "name" : "Benjamin Cremen"
  },
  "datePublished" : "{{- .Date.Format "2006-01-02" -}}",
  "backstory" : [ "Benjamin Creme käytti 40 vuotta levittääkseen tietoa Maitreya Maailmanopettajan ja Viisauden Mestareiden ilmestymisestä nykymaailmaan. Tänä aikana hän vastasi kysymyksiin, jotka kattoivat laajan aihepiirin. Tässä jaksossa hyödynnämme tätä lähdettä" ],
  "articleBody" : "{{.Plain}}",
  "speakable": [ "#article-headline", "#article-body"],
  "relatedLink" : "https://www.share.fi/kysymyksia-vastauksia/",
  "url": "{{ .Permalink }}"

}
</script>
<!-- JSON-LD markup for Structured Data ENDS-->


<article>


	<div class='masterarticle'>
	<h1>{{.Title | replaceRE "K & V" "Kysymyksiä ja vastauksia" -}}</h1>
	<h4 id="article-headline">Jatkuva sarjamme kysymyksiä ja vastauksia henkisyydestä ja sen ilmiöistä</h4>

	<div id="article-body">{{ .Content | safeHTML }}</div>
	<p class='mastersource'>Lähde: Share International -lehti.</p>


	<div class="nosto">
	<p>Benjamin Creme käytti 40 vuotta levittääkseen tietoa Maitreya Maailmanopettajan ja Viisauden Mestareiden ilmestymisestä nykymaailmaan. Tänä aikana hän vastasi kysymyksiin, jotka kattoivat laajan aihepiirin. Tässä jaksossa hyödynnämme tätä lähdettä.</p>
	<hr style="margin: 20px 20%;" />
	
	</div>
	</div> <!-- ends class masterarticle -->







<div id="masterarticles-include-footer">
<h3>Lisäaiheita</h3>
<p><a title="Mestari D.K. (Djwhal Khul)" href="/mestari/mestari-d-k/" target="_blank">Kuka on Mestari D.K.?</a></p>
<p><a title="Mestareiden Mestari on Maailmanopettaja" href="/maitreya" target="_blank">Kuka on Mestareiden Mestari, eli Maailmanopettaja Maitreya?</a></p>
<p><a title="Yksittäisiä Mestareita: Rakoczi, Morya ja Koot Hoomi (Kuthumi)" href="/mestari/yksittaisia-mestareita-rakoczi-morya-ja-koot-hoomi-kuthumi/" target="_blank">Keitä ovat Rakoczi, Morya ja Koot Hoomi (Kuthumi)?</a></p>
<p><a title="Yksittäisiä Mestareita: Rakoczi, Morya ja Koot Hoomi (Kuthumi)" href="/mestarin-sanoin/" target="_blank">Mestarin sanoin -artikkeliarkisto</a></p>



</div>


<div id="global-include-footer-extra">
{{ partial "global-include-footer-extra.html" . }}
</div>
</article>

{{ end }}