{{ define "title" }}{{.Title}} | {{.Site.Title | replaceRE "_" ""}}{{ end }}

{{ define "description" }}{{.Title}} on {{.Site.Title | replaceRE "_" ""}}{{ end }}

{{ define "main" }}

  {{ if .RawContent | safeHTML }}
  <article>
    {{ partial "article-header-nodate.html" . }}
    <div>{{ .RawContent | safeHTML }}</div>
  </article>
  {{ end }}
  <section>
  <p>Listaus Mestarin sanoin -artikkeleista</p>
  <ul>
    {{ range (.Paginator 12).Pages }}
    <li>
      <article>
        {{ partial "article-header.html" . }}
        {{ if $.Site.Params.show_summaries}}
        <div>{{ .Summary }}</div>
        {{ end }}
      </article>
    </li>
    {{ end }}
  </ul>
</section>

<footer>
  <nav>
    <ul>
      <li id="previous"><a {{ if .Paginator.HasPrev }}href="{{ .Paginator.Prev.URL }}"{{ end }}>12 edellistä</a></li>
      <li style="color:#f1f1f1;">---</li>
      <li id="next"><a {{ if .Paginator.HasNext }}href="{{ .Paginator.Next.URL }}"{{ end }}>seuraavat 12</a></li>
    </ul>
  </nav>
</footer>
{{ end }}



