
{{ define "title" }}{{.Title}} | {{.Site.Title}}{{ end }}

{{ define "description" }}{{.Summary}}{{ end }}

{{ define "main" }}

<!-- JSON-LD markup for Structured Data BEGINS-->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "{{.Title}}",
  "headline" : "{{- .Title | replaceRE ":.+" "" -}}",
  "author" : {
    "@type" : "Person",
    "name" : "Benjamin Cremen Mestari"
  },
  "datePublished" : "{{- .Date.Format "2006-01-02" -}}",
  "backstory" : [ "Share International -lehden synnystä alkaen Benjamin Cremen Mestari on antanut artikkelinsa julkaistavaksi tuoreeltaan ja käytettäväksi silloin kun maailman tapahtumat sitä edellyttävät. Monet näistä artikkeleista tuntuvat todellakin jopa vielä ajankohtaisemmilta tänä päivänä kuin niiden ensijulkaisun yhteydessä", "Lähde: Share International -lehti, heinä-elokuu 2018.", "Tämä artikkelisarja ilmestyy 10 kertaa vuodessa ja se avaa ihmisen suhdetta häntä ympäröivään. Mestari, on yksi Henkisen Hierarkian Mestareista. Hänen nimensä on laajalti tunnettu esoteerisissa piireissä, mutta sitä ei monistakaan syistä anneta vielä julkisuuteen. Maitreya on Henkisen Hierarkian johdossa olevan Maailmanopettajan henkilökohtainen nimi. Maitreya tunnetaan myös Kristuksen, Buddhan, Krishnan, Imam Mahdin tai Messiaan nimillä. Maitreya on aloittanut tammikuussa 2010 tv-esiintymisten sarjan, joka tulee johtamaan julkitulon päivään, jolloin Hän julkistaa todellisen henkilöytensä." ],
  "articleBody" : "{{.Plain}}",
  "speakable": [ "#article-headline", "#article-body"],
  "relatedLink" : "https://www.share.fi/mestarin-sanoin/{{- .Params.prevmonthLink -}}",
  "url": "{{ .Permalink }}"

}
</script>
<!-- JSON-LD markup for Structured Data ENDS-->


<article>


	<div class='masterarticle'>
	<p><em>Mestarin sanoin -artikkeli {{.Title | replaceRE ".+oin " "" -}}</em></p>
	<h1 id="article-headline">{{- .Title | replaceRE ".+:" "" -}}</h1>
	<h3>- Mestarilta, Benjamin Cremen välityksellä</h3>

	<div id="article-body">{{.Content}}</div>
	<p class='mastersource'>Lähde: Share International -lehti, {{ .Date.Format "01 / 2006" -}}.</p>


	<div class="nosto">
	<p>Tämä artikkelisarja ilmestyy 10 kertaa vuodessa ja se avaa ihmisen suhdetta häntä ympäröivään. Mestari, on yksi Henkisen Hierarkian Mestareista. Hänen nimensä on laajalti tunnettu esoteerisissa piireissä, mutta sitä ei monistakaan syistä anneta vielä julkisuuteen. Maitreya on Henkisen Hierarkian johdossa olevan Maailmanopettajan henkilökohtainen nimi. Maitreya tunnetaan myös Kristuksen, Buddhan, Krishnan, Imam Mahdin tai Messiaan nimillä. Maitreya on aloittanut tammikuussa 2010 tv-esiintymisten sarjan, joka tulee johtamaan julkitulon päivään, jolloin Hän julkistaa todellisen henkilöytensä.</p>

	<p>Share International -lehden synnystä alkaen Benjamin Cremen Mestari on antanut artikkelinsa julkaistavaksi tuoreeltaan ja käytettäväksi silloin kun maailman tapahtumat sitä edellyttävät. Monet näistä artikkeleista tuntuvat todellakin jopa vielä ajankohtaisemmilta tänä päivänä kuin niiden ensijulkaisun yhteydessä.</p>
	<hr style="margin: 20px 20%;" />
	
	<div class="related-item">
	<p>Edellinen Mestarin sanoin -artikkeli</p>
<p class="related-item-link"><a title="Mestarin sanoin {{ .Params.prevmonth -}}" href="/mestarin-sanoin/{{- .Params.prevmonthLink -}}">Mestarin sanoin {{ .Params.prevmonth -}}</a></p>
	</div></div>
	</div> <!-- ends class masterarticle -->

	<div class="masterarticle-menu">
  <nav id="masterarticle-nav">
    <ul class="root">	
	{{ partial "menu.html" (dict "menu" "masterarticle" "current" . "level" 1 "pages" .Site.Menus.masterarticle) }}

    </ul>
</nav><!-- #masterarticle-nav -->
	</div>





<div id="masterarticles-include-footer">
<h3>Lisäaiheita</h3>
<p><a title="Mestari D.K. (Djwhal Khul)" href="/lisatietoa/mestari-d-k" target="_blank">Kuka on Mestari D.K.?</a></p>
<p><a title="Mestareiden Mestari on Maailmanopettaja" href="/maitreya" target="_blank">Kuka on Mestareiden Mestari, eli Maailmanopettaja Maitreya?</a></p>
<p><a title="Yksittäisiä Mestareita: Rakoczi, Morya ja Koot Hoomi (Kuthumi)" href="/lisatietoa/yksittaisia-mestareita-rakoczi-morya-ja-koot-hoomi-kuthumi" target="_blank">Keitä ovat Rakoczi, Morya ja Koot Hoomi (Kuthumi)?</a></p>
<p><a title="Yksittäisiä Mestareita: Rakoczi, Morya ja Koot Hoomi (Kuthumi)" href="/mestarin-sanoin/" target="_blank">Mestarin sanoin -artikkeliarkisto</a></p>



</div>


<div id="global-include-footer-extra">
{{ partial "global-include-footer-extra.html" . }}
</div>
</article>

{{ end }}